{# Navigation menu template #}

<ul class="nav-menu">
    <li class="menu-active"><a href="index.html">Home</a></li>
    <li><a href="about-us.html">About Us</a></li>
    <li><a href="category.html">Category</a></li>
    <li><a href="price.html">Price</a></li>
    <li><a href="blog-home.html">Blog</a></li>
    <li><a href="contact.html">Contact</a></li>
    <li class="menu-has-children"><a href="">Pages</a>
        <ul>
            <li><a href="elements.html">elements</a></li>
            <li><a href="search.html">search</a></li>
            <li><a href="single.html">single</a></li>
        </ul>
    </li>
    <li><a class="ticker-btn" href="#">Signup</a></li>
    <li><a class="ticker-btn" href="#">Login</a></li>				          				          
</ul>