{# category list template #}

<ul class="cat-list">
    <li><a class="justify-content-between d-flex" href="category.html"><p>New York</p><span>37</span></a></li>
    <li><a class="justify-content-between d-flex" href="category.html"><p>Park Montana</p><span>57</span></a></li>
    <li><a class="justify-content-between d-flex" href="category.html"><p>Atlanta</p><span>33</span></a></li>
    <li><a class="justify-content-between d-flex" href="category.html"><p>Arizona</p><span>36</span></a></li>
    <li><a class="justify-content-between d-flex" href="category.html"><p>Florida</p><span>47</span></a></li>
    <li><a class="justify-content-between d-flex" href="category.html"><p>Rocky Beach</p><span>27</span></a></li>
    <li><a class="justify-content-between d-flex" href="category.html"><p>Chicago</p><span>17</span></a></li>
</ul>