{# popular post template #}

{# {% set populars = [1, 2, 3, 4] %} #}

<!-- Start popular-post Area -->
<section class="popular-post-area pt-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="active-popular-post-carusel">
                {% for post in populars %}
                    {% include "_partials/single-popular-post.html.twig" %}
                {% endfor %}
            </div>
        </div>
    </div>	
</section>
<!-- End popular-post Area -->