{# Header #}

<header id="header" id="home">
    <div class="container">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="{{ path('home') }}"><img src="{{ asset('assets/job/img/logo.png') }}" alt="" title="" /></a>
            </div>
            <nav id="nav-menu-container">
                {% include "_partials/list-nav-menu.html.twig" %}
            </nav><!-- #nav-menu-container -->		    		
        </div>
    </div>
</header><!-- #header -->