{# single post template #}

<div class="single-post d-flex flex-row">
    <div class="thumb">
        <img src="img/post.png" alt="">
        {% include "_partials/list-post-tags.html.twig" %}
    </div>
    <div class="details">
        <div class="title d-flex flex-row justify-content-between">
            <div class="titles">
                <a href="single.html"><h4>Creative Art Designer</h4></a>
                <h6>Premium Labels Limited</h6>					
            </div>
            <ul class="btns">
                <li><a href="#"><span class="lnr lnr-heart"></span></a></li>
                <li><a href="#">Apply</a></li>
            </ul>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
        </p>
        <h5>Job Nature: Full time</h5>
        <p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
        <p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
    </div>
</div>