{% extends 'base.html.twig' %}

{% block title %}ProposalSkill index{% endblock %}

{% block body %}
    <h1>ProposalSkill index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for proposal_skill in proposal_skills %}
            <tr>
                <td>{{ proposal_skill.id }}</td>
                <td>
                    <a href="{{ path('proposal_skill_show', {'id': proposal_skill.id}) }}">show</a>
                    <a href="{{ path('proposal_skill_edit', {'id': proposal_skill.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('proposal_skill_new') }}">Create new</a>
{% endblock %}
