{% extends 'base.html.twig' %}

{% block title %}New ProposalSkill{% endblock %}

{% block body %}
    <h1>Create new ProposalSkill</h1>

    {{ include('proposal_skill/_form.html.twig') }}

    <a href="{{ path('proposal_skill_index') }}">back to list</a>
{% endblock %}
