<form class="text-center" method="post" action="{{ path('proposal_cancel', {'id': applier.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir annuler votre candidature?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ applier.id) }}">
    <button class="genric-btn danger-border"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Annuler ma candidature</button>
    <input type="hidden" name="_route" value="{{ route is defined ? route : 'proposal_show' }}">
</form>