{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="row">
        <div class="col-12 text-right">
            <button class="genric-btn primary radius"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;{{ button_label|default('Enregistrer') }}</button>
        </div>
    </div>
{{ form_end(form) }}