{% extends "_layouts/signup.html.twig" %}

{% set title = 'Inscription' %}
{% set open = 'information' %}
{% set breadcrumbs = breadcrumbs is defined ? breadcrumbs : [{text: title, href: '#'}] %}
{% set submitButton = { style: 'primary', 'icon_class': 'fa-check', type: 'submit' } %}

{% block signup_information %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="row">
            <div class="col-12 text-right" id="save-container">
                {{ 'Enregistrer'|button(submitButton) }}
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}