{% extends "base.html.twig" %}

{% set title = title is defined ? title : 'Page' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block header %}
    {% include "_partials/section-header.html.twig" %}
{% endblock %}

{% block banner %}
    {% include "_partials/banner-page.html.twig" %}
{% endblock %}

{% block features %}{% endblock %}

{% block popular %}{% endblock %}

{% block featured_category %}{% endblock %}

{% block main_content %}
<section class="post-area section-gap">
    <div class="container">
        {% for label, messages in app.flashes %}
            <div class="row mb-3">
                <div class="col-12">
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                            <p class="text-center mb-0">
                                {{ message|raw }}
                            </p>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        {% block content %}{% endblock %}
    </div>
</section>
{% endblock %}

{% block call2action %}{% endblock %}

{% block download %}{% endblock %}

{% block footer %}
    {% include "_partials/section-footer.html.twig" %}
{% endblock %}