{% extends "base.html.twig" %}

{% block title %}
    Backoffice
{% endblock %}

{% block body %}
    <main class="container">
        {% block backoffice_main %}
            {# content goes here #}
        {% endblock %}
    </main>
{% endblock %}