{# Sign Up JS #}

<script>
    (function($, window, document){
        $(function(){
            const viewport = $('html, body');
            const $document = $(document);
            $document
                // Scroll to element
                .on('click', '.accordion .card-header button.btn-link', e => {
                    e.preventDefault();
                    const $this = $(e.currentTarget);
                    const target = $this.data('target');
                    scrollingTo($, viewport, target);
                })
                // load content
                .on('click', '.btn-load-content', e => {
                    e.preventDefault();
                    const $this = $(e.currentTarget);
                    const content = $this.data('content');
                    if(content && $this.data('content-loaded') !== 'true'){
                        const target = $($this.data('target') + ' .card-body');
                        $.ajax({
                            type: 'GET',
                            url: content,
                            beforeSend: () => {
                                target.html('Chargement du contenu <i class="fa fa-refresh animated infinite rotateIn" aria-hidden="true"></i>');
                            }
                        }).done(response => {
                            target.html(response);
                            $this.attr('data-content-loaded', 'true');
                        }).fail(xhr => {
                            target.html(xhr.responseText);
                            $this.removeAttr('data-content-loaded');
                        });
                    } else {
                        alert("Veuillez d'abord remplir la section information. Merci");
                        setTimeout(() => {
                            $('#informations button.btn-link').click();
                        }, 1000);
                    }
                })
                // submit event on form
                .on('submit', '.ajax-form-submit', e => {
                    console.log('AJAX Form Submit');
                    e.preventDefault();
                    const form = $(e.currentTarget);
                    const formId = '#' + form.attr('id');
                    const submitBtn = form.find('button[type="submit"]');
                    const oldHtml = submitBtn.html();
                    const ajax = ajaxFormSubmit($, formId, () => {
                        submitBtn.html('Mise a jour de la base de donnee en cours <i class="fa fa-refresh animated infinite rotateIn" aria-hidden="true"></i>')
                    });
                    ajax
                        .done(response => {
                            if(response.done) {
                                const target = form.data('target');
                                const nextBtn = $(`${target} button.btn-link`);
                                const nextContent = $(nextBtn.data('target') + ' .card-body');
                                nextContent.html($('<div>', {
                                    class: 'row',
                                    html: $('<div>', {
                                        class: 'col-12',
                                        html: 'Chargement du contenu <i class="fa fa-refresh animated infinite rotateIn" aria-hidden="true"></i>'
                                    })
                                }));
                                nextBtn.click();
                                if(response.next) {
                                    $.ajax({
                                        type: 'GET',
                                        url: response.next
                                    }).done(nextResponse => {
                                        nextContent.html(nextResponse);
                                    }).fail(xhr => { 
                                        alert(`${xhr.status} - ${xhr.statusText}`); 
                                    });
                                }
                                $('.btn-load-content').each((index, element) => {
                                    const elt = $(element);
                                    if(!elt.data('content')) {
                                        const target = elt.data('target');
                                        const content = {
                                            experience: `/inscription/experiences/${response.user.id}`,
                                            training: `/inscription/trainings/${response.user.id}`,
                                            knowledge: `/inscription/knowledges/${response.user.id}`,
                                            language: `/inscription/languages/${response.user.id}`,
                                            motivation: `/inscription/motivation/${response.user.id}`
                                        };
                                        if('#experience-content' === target) {
                                            elt.attr('data-content', content.experience);
                                        } else if ('#training-content' === target) {
                                            elt.attr('data-content', content.training);
                                        } else if ('#knowledge-content' === target) {
                                            elt.attr('data-content', content.knowledge);
                                        } else if ('#language-content' === target) {
                                            elt.attr('data-content', content.language);
                                        } else if('#motivation-content' === target) {
                                            elt.attr('data-content', content.motivation)
                                        }
                                    }
                                });
                            }
                        })
                        .fail(xhr => {
                            alert(`${xhr.status} - ${xhr.statusText}`);
                        })
                        .always(() => {
                            submitBtn.html(oldHtml);
                        });
                });
        });
    }(window.jQuery, window, window.document));
</script>