{# Sign Up JS #}

{% set isUser = user is defined and user.id is not null %}

<script>
    (function($, window, document){
        $(function() {
            const $document = $(document);
            $document
                .on('submit', '#information-form', e => {
                    e.preventDefault();
                    const form = $(e.currentTarget);
                    const submitBtn = form.find('button[type="submit"]');
                    const oldHtml = submitBtn.html();
                    $.ajax( {
                        type: 'POST',
                        url: form.attr('action'),
                        data: form.serialize(),
                        beforeSend: () => {
                            submitButton.html('Enregistrement en cours <i class="fa fa-refresh animated infinite rotateIn" aria-hidden="true"></i>');
                        }
                    } ).done( response => {
                        if(response.done) {
                            // Load all content: address, experiences, trainings, others, languages, motivations
                            addressContent(reponse.user.id);
                            experienceContent(response.user.id);
                            trainingContent(response.user.id);
                            otherContent(response.user.id);
                        }
                    } ).fail( xhr => {
                        alert(`${xhr.status} - ${xhr.statusText}`);
                    } );
                })
                .on('submit', '#experience-form', e => { submitExperience(e); } )
                .on('click', '#add-experience-row .btn-add-ajax', e => { addExperience(e); } );

            // Load address content
            const addressContent = (userId) => {
                const container = $('#address-content .card-body');
                $.ajax( {
                    type: 'GET',
                    url: `/inscription/adresse/${userId}`,
                    beforeSend: () => {
                        container.html('Chargement du contenu <i class="fa fa-refresh animated infinite rotateIn" aria-hidden="true"></i>');
                    }
                } ).done( response => {
                    container.html(response);
                } ).fail( xhr => {
                    container.html(xhr.responseText);
                } );
            };

            // Load Experience Content
            const experienceContent = (userId, experienceId = 0) => {
                const container = $('#experience-content .card-body');
                $.ajax( {
                    type: 'GET',
                    url: `/inscription/experiences/${userId}/${experienceId}`,
                    beforeSend: () => {
                        container.html('Chargement du contenu <i class="fa fa-refresh animated infinite rotateIn" aria-hidden="true"></i>');
                    }
                } ).done( response => {
                    container.html(response);
                } ).fail( xhr => {
                    container.html(xhr.responseText);
                } );
            };

            // Load Training Content
            const trainingContent = (userId, trainingId = 0) => {
                const container = $('#training-content .card-body');
                $.ajax( {
                    type: 'GET',
                    url: `/inscription/training/${userId}/${trainingId}`,
                    beforeSend: () => {
                        container.html('Chargement du contenu <i class="fa fa-refresh animated infinite rotateIn" aria-hidden="true"></i>');
                    }
                } ).done( response => {
                    container.html(response);
                } ).fail( xhr => {
                    container.html(xhr.responseText);
                } );
            };
            
            // Load Other Content
            const otherontent = (userId, otherId = 0) => {
                const container = $('#other-content .card-body');
                $.ajax( {
                    type: 'GET',
                    url: `/inscription/other/${userId}/${otherId}`,
                    beforeSend: () => {
                        container.html('Chargement du contenu <i class="fa fa-refresh animated infinite rotateIn" aria-hidden="true"></i>');
                    }
                } ).done( response => {
                    container.html(response);
                } ).fail( xhr => {
                    container.html(xhr.responseText);
                } );
            };

            // Load Language content
            const languageContent = (userId, languageId = 0) => {
                const container = $('#language-content .card-body');
                $.ajax( {
                    type: 'GET',
                    url: `/inscription/language/${userId}/${languageId}`,
                    beforeSend: () => {
                        container.html('Chargement du contenu <i class="fa fa-refresh animated infinite rotateIn" aria-hidden="true"></i>');
                    }
                } ).done( response => {
                    container.html(response);
                } ).fail( xhr => {
                    container.html(xhr.responseText);
                } );
            };

            // Load Motivation content
            const motivationContent = (userId, languageId = 0) => {
                const container = $('#motivation-content .card-body');
                $.ajax( {
                    type: 'GET',
                    url: `/inscription/motivation/${userId}/${languageId}`,
                    beforeSend: () => {
                        container.html('Chargement du contenu <i class="fa fa-refresh animated infinite rotateIn" aria-hidden="true"></i>');
                    }
                } ).done( response => {
                    container.html(response);
                } ).fail( xhr => {
                    container.html(xhr.responseText);
                } );
            };

            // Submit Experience form
            const submitExperience = e => {
                e.preventDefault();
                const form = $(e.currentTarget);
                $.ajax({
                    type: form.attr('method'),
                    url: form.attr('action'),
                    data: form.serialize(),
                    beforeSend: function(){}
                }).done(response => {
                    if(response.done) {
                        // Add button delete
                    }
                }).fail(xhr => {
                    alert(`${xhr.status} - ${xhr.statusText}`);
                });
            };

            // Add Experience
            const addExperience = e => {
                e.preventDefault();
                const btn = $(e.currentTarget);
                const old = btn.html();
                const id = btn.attr('data-user');

                $.ajax({
                    type: 'GET',
                    url: `/inscription/experiences/new/${id}`,
                    beforeSend: () => {
                        btn.html(`${old} <i class="fa fa-refresh animated infinite rotateIn" aria-hidden="true"></i>`);
                    }
                }).done( response => {
                    $('#add-row').before( response );
                } ).fail( xhr => {
                    alert( `${xhr.status} - ${xhr.statusText}` );
                } ).always( () => {
                    btn.html(old);
                } );
            };

            {% if isUser %}
                addressContent({{ user.id }});
                experienceContent({{ user.id }});
                {# trainingContent({{ user.id }});
                otherontent({{ user.id }});
                languageContent({{ user.id }});
                motivationContent({{ user.id }}); #}
            {% endif %}
        });
    }(window.jQuery, window, window.document));
</script>