{% extends "_layouts/dashboard.html.twig" %}

{% set pageTitle = 'Tableau de bord' %}
{% set breadcrumbs = [{text: 'Tableau de bord', href: path('dashboard_index') }, {text: 'Curriculum Vitae', href: ''}] %}

{% set section_title = 'Mon CV' %}

{% block title %}Curriculum Vitae{% endblock %}

{% block dashboard_content %}
    <div class="row d-flex">
        <div class="col-sm-6 col-12">
            <div class="card">
                <a href="{{ path('curriculum_render', { model: 'model1' }) }}" target="_blank">
                    <img class="card-img-top" src="https://fakeimg.pl/200x300/" alt="">
                </a>
                <div class="card-body">
                    <p class="card-text">
                        <a href="{{ path('curriculum_render', { model: 'model1' }) }}" target="_blank">Model n°1</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}