{% extends "_layouts/dashboard.html.twig" %}

{% set pageTitle = 'Tableau de bord' %}
{% set breadcrumbs = [{text: 'Tableau de bord', href: path('dashboard_index') }, {text: 'Edition utilisateur', href: ''}] %}

{% block title %}Edition utilisateur{% endblock %}

{% block dashboard_content %}
    {{ include('user/_form.html.twig', {'button_label': 'Mise à jour'}) }}

    {# <a href="{{ path('user_index') }}">back to list</a> #}

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
